.templetOne {
    background-color: #aa3333;
}

.templetOne .box {
    margin-top: 80px;
    background-color: white;
    padding: 40px 25px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border: 5px solid #852c2c;
    overflow: hidden;
}
.templetOne .box .colOne {
    width: 50%;
    margin: auto;
    text-align: center;
}
.templetOne .box .colOne h1 {
    margin-bottom: 5px;
}
.templetOne .box .colOne span {
    color: #c81e1e;
}
.box .colTwo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px 30px;
}
.box .colOne img {
    border: 4px solid white;
}
.box .colOne img {
    outline: 2px solid #c81e1e;
}
.box .colTwo .col span {
    padding: 10px 0;
    text-wrap: nowrap;
}
.box .colTwo .col svg {
    width: 15px !important;
    margin: auto !important;
}
.box .colTwo .col span.icon {
    background-color: var(--color1);
    color: white;
    display: inline-block;
    width: 10%;
}
.box .colTwo .col span {
    display: inline-block;
    width: 90%;
    height: 38px;
    background-color:  #fdf2f2;
    color: #73230d;
    padding-right: 10px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;  
}
.box .colTwo .col:nth-of-type(3) span:last-of-type {
    direction: ltr;
    padding-left: 10px;
    cursor: pointer;
}
.box .colTwo .col:nth-of-type(3) span:last-of-type:hover {
    color: var(--main-background);
}

.textAria {
    background-color: #fdf2f2;
    margin: 50px 0;
    padding: 10px 20px;
    font-size: 16px;
}
.textAria p {
    font-size: .90rem;
    font-weight: bold;
}
.pacedg .space {
    position: relative;
}
.pacedg .space::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-image: linear-gradient(to left, var(--color1),#fdf2f2);
}
.pacedg .space::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: var(--color1);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.pacedg .hedin h3 {
    color: var(--color1);
    font-size: 22px;
}
.pacedg .detuls {
    display: flex;
    padding: 30px 0 0;
}
.pacedg .detuls:not(.pacedg .detuls:last-of-type) {
    border-bottom: 2px solid  #c81e1e31;
}
.pacedg .detuls .date {
    color: var(--color4);
    font-weight: bold;
    margin-left: 40px;
    width: 200px;
}
.pacedg .detuls .date svg {
    width: 15px !important;
}
.pacedg .detuls .date span {
    word-break: break-all;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 12px;
}
.pacedg .detuls .info {
    width: 510px;
}
.pacedg .detuls .info h1 {
    margin: 0;
    color: var(--color4);
    font-size: 20px;
}
.pacedg .detuls .info h1:hover {
    color: #3f83f8;
}
.pacedg .detuls .info p {
    font-size: 14px;
}
.pacedg .detuls .info p:first-of-type {
    color: var(--color2);
}
.pacedg .detuls .info p:last-of-type {
    color: var(--color3);
}
.pacedg .parent hr {
    background-color: #c81e1e63;
}

.box .pacedg .parent p.address {
    color: #4b5563;
    padding: 30px 0;
    font-weight: bold;
}
/* Skils */
.pacedg .boxLevils {
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: space-between;
    color: white;
    margin: 10px 0;
    font-size: 12px;
}
.pacedg .boxLevils .skil {
    background-color: var(--background2);
    position: relative;
    margin: 0 7px;
}
.pacedg .boxLevils .skil > div {
    content: '';
    position: absolute;
    height: 100%;
    background-image: linear-gradient(to left,var(--color4),var(--color1));
    top: 0;
    right: 0;
    padding: 8px;

}
.pacedg .boxLevils .lesvel {
    background-color: var(--color1);
    padding: 8px;
}
/* languages */
.pacedg .boxLevils {
    padding: 30px 0 0;
}
.pacedg .boxLevils .languages {
    color: #27303f;
    font-size: 1rem;
    padding-bottom: 2px;
    border-bottom: 1px dashed #fde8e8;
}
/* hobbie */
.pacedg .boxhobbie {
    display: flex;
}
.pacedg .boxhobbie .hobbie {
    background-color: var(--background2);
    padding: 5px 10px;
    margin: 20px 5px;
    color: #73230d;
}
@media (max-width: 767px) {
    .templetOne .box {
        margin-top: 10px;
        padding: 40px 10px;
    }
    .templetOne .box .colOne  {
        width: 100%;
    }
    .box .colTwo {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }
    .templetOne .box .colOne h1 {
        font-size: 1.5em;
    }
    .box .colTwo .col span {
        width: 77%;
    }
    .textAria {
        margin: 25px 0;
    }
    .pacedg .detuls .date span {
        font-size: 9px;
    }
    .pacedg .detuls .date {
        margin-left: 10px;
    }
    .pacedg .boxLevils {
        display: flex;
        flex-direction: column;
    }
}