.templetOne {
    background-color: #aa3333;
    height: 100vh;
}
.templetOne .header {
    background-color: var(--black);
    color: white;
}
.templetOne .header div {
    display: flex;
    align-items: center;
}
.templetOne .header img {
    width: 30px;
    height: 30px;
    margin: 0 20px;
}
.templetOne .header a {
    color: inherit;
    margin: 0 20px;
}
.templetOne .box {
    margin-top: 80px;
    background-color: white;
    padding: 40px 25px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border: 5px solid #852c2c;
}
.templetOne .box .colOne {
    width: 50%;
    margin: auto;
    text-align: center;
}
.templetOne .box .colOne h1 {
    margin-bottom: 5px;
}
.templetOne .box .colOne span {
    color: #c81e1e;
}
.box .colTwo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px 30px;
}
.box .colOne img {
    border: 4px solid white;
}
.box .colOne img {
    outline: 2px solid #c81e1e;
}
.box .colTwo .col span {
    padding: 10px 0;
    text-wrap: nowrap;
}
.box .colTwo .col svg {
    width: 15px !important;
    margin: auto !important;
}
.box .colTwo .col span.icon {
    background-color: var(--color1);
    color: white;
    display: inline-block;
    width: 10%;
}
.box .colTwo .col span {
    display: inline-block;
    width: 90%;
    background-color:  #fdf2f2;
    color: #73230d;
    padding-right: 10px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;  
}
.box .colTwo .col:nth-of-type(3) span:last-of-type {
    direction: ltr;
    padding-left: 10px;
    cursor: pointer;
}
.box .colTwo .col:nth-of-type(3) span:last-of-type:hover {
    color: var(--main-background);
}


.textAria {
    background-color: #fdf2f2;
    margin: 50px 0;
    padding: 10px 20px;
    font-size: 16px;
}
.textAria p {
    font-size: .90rem;
    font-weight: bold;
}

.experiences .space {
    position: relative;
}
.experiences .space::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-image: linear-gradient(to left, var(--color1),#fdf2f2);
}
.experiences .space::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: var(--color1);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.experiences .hedin h4 {
    color: var(--color1);
}


.experiences .detuls {
    display: flex;
    padding: 30px 0 0;
}

.experiences .detuls .date {
    color: var(--color1);
    font-weight: bold;
    margin-left: 50px;
}
.experiences .detuls .date svg {
    width: 15px !important;
}
.experiences .detuls .date span {
    margin-left: 10px;
}
.experiences .detuls .info h1 {
    margin: 0;
    color: var(--color4);
    font-size: 20px;
}
.experiences .detuls .info p {
    font-size: 14px;
}
.experiences .detuls .info p:first-of-type {
    color: var(--color2);
}
.experiences .detuls .info p:last-of-type {
    color: var(--color3);
}

.experiences .parent hr {
    background-color: #c81e1e63;
}