header.parent  {
    width: 100%;
    font-size: 16px;
    background-color: white;
}
header.parent nav {
    height: 60px;
    display: flex;
    align-items: center;
}
header.parent nav a {
    position: relative;
    font-size: 1.15em;
    margin-left: 20px;
}
@media (max-width: 767px) {
    header.parent nav a {
        margin-left: 15px; 
    }
}
header.parent nav a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: transparent;
    bottom: -22px;
}
header.parent nav a:hover {
    color: #1c64f2;
}
header.parent nav a:hover::before {
    background-color: #1c64f2;
}
