header.parent  {
    width: 100%;
    font-size: 16px;
    background-color: white;
}
header.parent nav {
    height: 55px;
    display: flex;
}
header.parent nav a {
    position: relative;
    font-size: 1.15em;
    padding-left: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    word-break: break-all;
    white-space: nowrap;
    text-overflow: ellipsis;
}
@media (max-width: 767px) {
    header.parent nav a {
        padding-left: 8px;
        font-size: .85em;
    }
    header.parent nav a:last-of-type {
        display: none;
    }
}
header.parent nav a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: transparent;
    bottom: 0px;
    background-color: var(--background-main);
    display: none;
}
header.parent nav a:hover {
    color: #1c64f2;
}
header.parent nav a:hover::before {
    display: block;
}
header.parent nav a svg {
    color: black;
}