.parent {
    padding: 50px 0;
    font-size: 16px;
}
.parent h1 {
    color: white;
    width: 600px;
    margin: auto;
    line-height: 2;
    text-align: center;
}
.parent button {
    width: fit-content;
    color: #9f580a;
    background-color: #faca15;
    padding: 18px 32px;
    border-radius: 30px;
    margin: 30px auto;
    display: block;
    
}