.ContentDashboard {
    background-color: #f1f5f9;
    height: 100vh;
}
.ContentDashboard a {
    display: flex;
    padding: 15px;
    cursor: pointer;
    color: black;
    background-color: white;
}   
.ContentDashboard .parent {
    width: 400px;
    margin: 45px 0;
}
.ContentDashboard a:hover {
    background-color: #e2e8f0;
}
.ContentDashboard a img {
    width: 80px;
    height: 80px;
    margin-left: 30px;
}
.ContentDashboard p {
    background-color:  #f8fafc;
    font-size: 12px;
    padding: 10px;
    margin: 0;
}