.colInput {
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-bottom: 7px;
    padding: 10px;
    background-color: #f9fafb;
}
.colInput .detulsInput {
    position: relative;
    width: 80% !important;
    background-color: #f4f5f7 !important;
    padding: 35px 5px 0 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.colInput .detulsInput input,textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #33333357;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
@media (max-width: 767px) {
    .colInput .detulsInput input {
        padding: 5px;
    }
}
.colInput input:focus,textarea {
    outline: 2px solid transparent;
    outline-offset: 2px;
    border-color: #a4cafe;
    box-shadow: 0 0 0 3px rgba(164,202,254,.45);
}
.colInput .detulsInput input::placeholder,textarea {
    color: var(--coloring);
    font-size: .90em;
}
.colInput .detulsInput input:focus,textarea:focus {
    background-color: #ebf5ff;
}
.colInput p {
    color: var(--coloring);
    font-size: .875rem;
}
.colInput .detulsInput .spans {
    position: absolute;
    direction: ltr;
    color: var(--coloring);
    cursor: pointer;
    top: 10px;
    left: 10px;
    background-color: inherit;
}
.colInput .detulsInput .spans span:last-of-type {
    margin-left: 10px;
    background-color: white;
    padding: 0 2px;
    color: var(--background-main-alt);
}
.colInput .detulsInput .spans span:first-of-type {
    cursor: no-drop;
}
.colInput .detulsInput .spans span:hover {
    color: var(--background-main-alt);
}
label {
    cursor: pointer;
}
@media (max-width: 767px) {   
    .colInput .detulsInput p {
        font-size: 11px;
    }
}