.parent {
    width: 100%;
    background-color: #f1f5f9;
    font-size: 16px;
}
.box {
    width: 90%;
    margin: auto;
    background-color: white;
    padding: 15px 10px;
    position: relative;
    display: flex;
    flex-direction: column;
}
@media (min-width: 768px) {
    .parent .box div {
        width: calc(100% - 40%);
        background-color: #f9fafb;
    }
}
@media (max-width: 767px) {
    .parent .box div label {
        font-size: 14px !important;
    }
    .box {
        padding: 10px 0;
    }
}
.parent .box div label {
    width: 25%;
    font-size: 1.15em;
    margin-right: 5px;      
    color: var(--color-opacity);
    cursor: pointer;
    font-weight: bold;
}
hr {
    border: 1px solid #0000000f
}
textarea {
    resize: none;
    overflow: hidden !important;
    height: 65px !important;
}