.spans {
    position: absolute;
    direction: ltr;
    margin-bottom: 8px;
    color: var(--coloring);
    cursor: pointer;
    top: 10px;
    left: 10px;
}
.spans span:last-of-type {
    margin-left: 10px;
    background-color: white;
    padding: 0 2px;
    color: var(--background-main-alt);
}
.spans span:hover {
    color: var(--background-main-alt);
}