.header {
    background-color: #000b76;
    padding: 20px 0;
}
.header div {
    display: flex;
    justify-content: space-between;
}
.header .maniger {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
    color: white;
    font-size: 1.25rem;
}
.header .maniger a {
    transition: .2s;
    -webkit-transition: var(--transform-s);
    -moz-transition: var(--transform-s);
    -ms-transition: var(--transform-s);
    -o-transition: var(--transform-s);
    color: inherit;
    padding: 10px 12px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .maniger a:last-of-type {
    background-color: #233876;
}
.header .maniger a:last-of-type:hover {
    color: var(--color-opacity);
}
.header .maniger a:first-of-type:hover {
    background-color: #1a56db;
}
.header .maniger a:first-of-type {
    background-color: #1c64f2;
}
@media (max-width: 767px) {
    .header .maniger a {
       padding: 10px;
       font-weight: bold;
    }
}