.parebtTest {
    width: 300px;
    display: flex;
    justify-content: space-between;
}
.parebtTest .colDate {
    text-align: center;
}
@media (max-width: 767px) {
    .parebtTest {
        flex-direction: column;
    }
    .parebtTest .colDate {
        width: 140px;
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
        flex-direction: row-reverse;
        align-items: center;
    }
}
.parebtTest .colDate > span {
    margin-bottom: 5px;
    display: block;
}
.test {
    background-color: white;
    border: 2px solid #ccc;
    width: 75px;
    height: 30px;
    position: relative;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    text-align: end;
    padding-left: 8px;
    z-index: 100;
}
.test div.one {
    right: 4px;
    transform: rotate(50deg);
    -webkit-transform: rotate(35deg);
    -moz-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    -o-transform: rotate(50deg);
}
.test div.two {
    right: 10px;
    transform: rotate(-50deg);
    -webkit-transform: rotate(-35deg);
    -moz-transform: rotate(-50deg);
    -ms-transform: rotate(-50deg);
    -o-transform: rotate(-50deg);
}
.test div.one,
.test div.two {
    position: absolute;
    width: 3px;
    height: 12px;
    background-color: gray;
    top: 2px;
}
.test div {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 167px;
    height: 300px;
    overflow: auto;
    direction: ltr;
    margin-top: 10px;
}
.test div span {
    margin: 5px;
    padding: 5px 10px;
    color: black;
    text-align: start;
    font-size: 20pX;
    margin-bottom: 10px;
}
.test div span:hover {
    background-color: var(--background-main-alt);
}

.parentDate {
    display: flex;
    justify-content: space-between;
}
.parentDate .box {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: calc((100% / 3 ) - 20px);
}
.parentDate .box span {
    margin-bottom: 7px;
}

.selectBox option {
    font-size: 20px;
    text-align: center;
}