.palestine {
    display: flex;
    background-color: rgb(228, 244, 237);
    align-items: center;
    justify-content: center;
}
.palestine img {
    width: 20px;
    height: 20px;
}
.palestine p {
    margin: 0 10px;
}