.register {
    background-image: linear-gradient(#3f83f8, #233876);
    min-height: 100vh;
}
.register .parent {
    width: 600px;
    margin: auto;
}
.register .continer {
    width: 500px;
    color: white;
    margin: auto;
    text-align: center;
}
.register .continer p a {
    color: var(--color-ylo);
}
.register .parent form div {
    width: 95% !important;
    background-color: #fff;
}
.register .parent form div input {
    margin: 10px 0;
    width: 90%;
    display: block;
}
.register input[type="submit"] {
    background-image: linear-gradient(45deg, #9292ff, #2a2a83);
    color: white;
    padding: 10px 15px;
    font-size: .90em;
    transition: var(--transform-s);
    -webkit-transition: var(--transform-s);
    -moz-transition: var(--transform-s);
    -ms-transition: var(--transform-s);
    -o-transition: var(--transform-s);
}
.register input[type="submit"]:hover {
    background-image: linear-gradient(45deg, #ff6c6c, #2a2a83);
}
.register  button {
    width: 90%;
}