.parent {
    background-color: #f4f5f7;
    padding: 50px 0;
}
.parent .child {
    font-size: 16px;
    margin: 0 15px;
}
.parent span {
    display: block;
    width: fit-content;
    margin: auto;
    padding: 7px;
    background-image: linear-gradient(to left, #afecef, transparent);
    color: #0694a2;
    font-size: 1.25em;    
}
.parent h3 {
    margin: 20px auto 50px;
    width: -moz-fit-content;
    width: fit-content;
    color: #1e429f;
    font-size: 2em;
    position: relative;
    text-align: center;
}
.parent h3::before {
    content: '';
    position: absolute;
    width: 35px;
    height: 4px;
    background-color: #afecef;
    bottom: 10px;
    right: -45px;
}
.boxFeature {
    display: flex;
    background-color: white;
    margin: 10px;
    align-items: center;
}
.boxFeature .boxImg svg {
    font-size: 100px;
    width: 50px !important;
    margin-left: 10px !important;
    color: var(--background-main);
}
.boxFeature img {
    width: 100%;
    height: 100%;
}
.parentCol {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 767px) {
    .parentCol  {
        grid-template-columns: repeat(1, 1fr);
    }
    .parent {
        padding: 20px 0;
    }
    .parent h3 {
        font-size: 1.5em;   
        margin: 20px auto;
    }
    .boxFeature {
        margin: 10px 0;
    }
}