.parent {
    width: 100%;
    background-color: #f1f5f9;
    font-size: 16px;
    overflow: hidden;
}
.box {
    width: 90%;
    margin: auto;
    background-color: white;
    padding: 20px 10px;
    position: relative;
}
.parentPages {
    border: 1px dashed #6875f559;;
    background-color: #f4f5f7;
    position: relative;
    margin-bottom: 10px;
    width: 90%;
    margin: 20px auto;
}
.qualificBox {
    width: 60%;
}
@media (max-width: 767px) {
    .parent .box .qualificBox {
        width: 100%;
    }
}
.parent label {
    width: 20%;
    font-size: 1.15em;
    margin-right: 5px;      
    color: var(--color-opacity);
}
hr {
    border: 1px solid #0000000f
}
.box button.but {
    position: absolute;
    left: 10px;
    font-size: .80em;
    background-image: linear-gradient(45deg , rgba(255, 255, 255, 0.383),  rgb(0, 0, 0) );
    margin-top: 10px;
}
.box button.but:hover {
    background-image: linear-gradient(45deg, white,  rgb(103, 99, 99) );
}
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #33333357;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
select:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    border-color: #a4cafe;
    box-shadow: 0 0 0 3px rgba(164,202,254,.45);
}
hr.hr {
    margin-top: 90px;
}
.numberQuali {
    padding: 0 5px;
    display: block;
    background-color: #c3ddfd;
    width: -moz-fit-content;
    width: fit-content;
    color: white;
    margin-right: 5px;
}
.controlBut {
    position: absolute;
    display: flex;
    left: 20px;
    top: 5px;
}
.controlBut div {
    width: 35px;
    height: 35px;
    background-color: #e5e7eb;
    margin-left: 10px;
}
.controlBut div:first-of-type {
    cursor: pointer;
}
.controlBut div:last-of-type {
    cursor: all-scroll;
}
.icon:first-child  svg{
    width: 18px !important; 
    margin: 5px 11px !important;
}
.icon:last-of-type svg {
    width: 11px !important; 
    margin: 2px 11px !important;
}
@media (max-width: 767px) {
    .controlBut {
        left: 10px;
        top: 0px;
    }
    .controlBut div {
        margin-left: 5px;
    }
    .icon:first-child  svg{
        width: 10px !important; 
    }
    .icon:last-of-type svg {
        width: 7px !important; 
    }
}