/* Start Global Rules */
:root {
    --background-main: #1c64f2;
    --background-main-alt: #6875f5;
    --color-ylo: #faca15;
    --color-opacity: #6b7280;
    --transform-s: .2s;
    --coloring: #9fa6b2;
    --mine-background:  #000b76;
    --black: #1a202e
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Cairo', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
    direction: rtl;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0
}
.active {
    background-color: white !important;
}
button {
    border: none;
}