.DownloadShare {
    background-color: var(--background1);
    padding: 20px 0;
}
.DownloadShare div {
    position: relative;
}
.header {
    background-color: #f9fafb;
    color: var(--color2);
    box-shadow: inset 0 -2px 2px 0 rgba(0,0,0,.05);
}
.header p {
    padding: 15px 50px;
    margin: 0;
}
.box {
    background-color: #e2e8f0;
    display: flex;
    margin-bottom: 10px;
    padding: 8px 15px;
}
.box p {
    color: #475569;
}
.DownloadShare svg {
    color: #97a6ba !important;
}
.box2 {
    background-color: white;
    padding: 15px;
}
.box2 .parent {
    display: flex;
}
.box2 .parent p {
    color: #475569;
}
.box2 div {
    background-color: white;
}

.copyLink  {
    height: 60px;
}
.copyLink {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px;
    margin: 20px 0;
}
.copyLink P {
    margin-left: 10px;
}
.copyLink div.url {
    position: relative;
    width: calc(100% - 125px);
    height: 100%;
    border: 1px solid #d2d6dc;
    border-radius: 8px;
    padding: 9px 500px 0 0;
    color: var(--coloring);
}
.copyLink button,.copyLink a {
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 120px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.copyLink button:first-of-type {
    background-color: #e2e8f0;
    color: #374151;
    left: 120px;
    border-right: 1px solid #d2d6dc;
}
.copyLink button:first-of-type:hover {
    background-color: white;
}
.copyLink button span {
    margin: 0 5px;
}
.copyLink a {
    background-color: #31c48d;
    color: #fff;
    padding: 12px;
     border-top-left-radius: 4px;
    border-bottom-left-radius: 4px; 
}
.copyLink a svg {
    color: white !important;
}
.copyLink a:hover {
    background-color: #0e9f6e;
}

.link {
    display: flex;
    width: 125px;
}

.pdf {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    color: white;
    background-color: white;
    padding: 10px;
    margin: 20px 0;
}
.pdf .parent {
    margin: 10px;
}
.pdf .parent span {
    cursor: pointer;
    padding: 10px 15px;
}
.pdf .headin {
    width: 98%;
    display: flex;
    align-items: center;
    margin: 10px;
    border-bottom: 1px solid #d2d6dc;
}
.pdf .headin svg {
    height: 22px !important;
}
.pdf .headin p {
    color: black;
    font-weight: bold;
}
.pdf .mauty {
    padding: 5px 10px;
    margin: 15px;
    background-color: #f6f5ff;
    color: #7e3af2;
    font-size: 20px;
}
.pdf .parent span svg {
    color: white !important;
}
.pdf .mauty svg {
    color: #7e3af2 !important;
}
.pdf span:first-of-type {
    background-image: linear-gradient(to right,#751a3d,#bf125d);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.pdf span:last-of-type {
    background-color: #E3A008;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.DownloadShare img {
    position: absolute;
    top: 0;
    z-index: -41;
}
